<launch>

  <!-- THIS IS A LAUNCH FILE FOR LAUNCHING THE WAM / BHAND ***ON THE WAM*** -->

  <!-- Adding machine value to be able to launch nodes directly on the WAM internal PC -->
  <include file="$(find wam_bringup)/launch/machines.launch" />

  <!--Launching the WAM Node-->
  <include file="$(find wam_node)/launch/wam_node_standalone.launch" />

</launch>
