<?xml version="1.0"?>
<launch>
  <!-- export ROS_NAMESPACE="basler_camera"; rosrun camera_aravis camnode  -->
  <!-- start camera node -->
  <node pkg="camera_aravis" type="camnode" name="basler_camera" output="screen" ns="basler_camera" />

  <!-- rosrun dynamic_reconfigure gendeps CameraAravisConfig.cfg -->
  <!-- node pkg="dynamic_reconfigure" type="dynparam" name="dynamic_reconfigure" args="gendeps $(find camera_aravis)/cfg/CameraAravisConfig.cfg" output="screen" / -->
  <!-- start dynamic reconfigure to tune camnode parameters manually -->
  <!-- node pkg="dynamic_reconfigure" type="reconfigure_gui" name="reconfigure_gui" output="screen" / --> 

  <!-- start image view -->
  <!-- second parameter indicates image transport is theora -->
  <!-- node pkg="image_view" type="image_view" args="image:=/basler_camera/image_raw image_transport:=theora autosize:=true" name="image_view_node" output="screen"/ -->
  <node pkg="image_view" type="image_view" args="image:=/basler_camera/image_raw image_transport:=raw autosize:=true" name="image_view_node" output="screen"/>
</launch>

