<?xml version="1.0"?>
<launch>
  <!-- start world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- start controller manager -->
  <!--include file="$(find pr2_controller_manager)/controller_manager.launch"/-->

  <!-- send single_link.urdf to param server -->
  <param name="robot_description" textfile="$(find guardian_description)/urdf/guardian_without_controller.urdf" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <!--node name="spawn_single_link" pkg="gazebo_tools" type="gazebo_model" args="-p robot_description spawn -z 2" respawn="false" output="screen" /-->
  <node name="spawn_object" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -z 0.5 -model guardian" respawn="false" output="screen" /> 

  <!-- sampel controller yaml-->
  <!--rosparam file="/home/robotnik/Escritorio/guardian/controlador_guardian_pkg/controlador_guardian.yaml" command="load"/>

  <node name="spawn_controlador_guardian" pkg="pr2_controller_manager" type="spawner" args="controlador_guardian" respawn="false" output="screen" /-->

</launch>
