<launch>

 <!-- LAUNCH GUARDIAN NODE -->
 <node name="guardian_node" pkg="guardian_node" type="guardian_node" respawn="false" output="screen"/>

 <!-- LAUNCH PAD NODE -->
 <include file="$(find guardian_pad)/launch/guardian_pad.launch"/>

 <!-- LAUNCH IMU NODE -->

 <!-- LAUNCH HOKUYO NODE -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen"> 
    <param name="calibrate_time" type="bool" value="false"/>   
    <param name="port" type="string" value="/dev/ttyACM0"/>
    <param name="intensity" type="bool" value="false"/>
  </node>

 <!-- LAUNCH LOGITECH CAM -->
 <include file="$(find logitech_usb_webcam)/launch/low_res.launch"/>
 <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
     <remap from="image" to="/logitech_usb_webcam/image_raw"/>
 </node>
  
 <!-- LAUNCH NAV. STACK CONFIGURATION -->
 <!--include file="$(find guardian_navigation)/guardian_configuration.launch"/-->

 <!-- LAUNCH AMCL -->
 <!--include file="$(find guardian_navigation)/navigation_amcl/move_base_amcl.launch"/-->

 <!-- LAUNCH RVIZ NODE -->
 <!--node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find guardian_navigation)/config_guardian_real_rviz.vcg"/-->
  

</launch>
